In [1]:
greet = "my name is chichi"

In [2]:
greet

'my name is chichi'

# Variable

In [4]:

titi = 'titi is a fine lady'

In [5]:
titi

'titi is a fine lady'

In [7]:
x = 5 + 5
X = 4 - 2

In [8]:
X

2

In [10]:
2 == 2

True

# Data Type

### The data types includes

Integer Data Type

string Data Type

Float Data Type

Boolean Data Type

In [11]:
# Integer data type

x = 5
i = -5

In [12]:
i

-5

In [13]:
x

5

In [21]:
# String Data type

text = "i love cat's but my brother hates cats"
type(text)

str

In [17]:
text

"i love cat's but my brother hates cats"

In [20]:
#float data type
g = 2.0
type(g)

float

In [22]:
# boolean data type
x = 3 == 6

In [23]:
x

False

# Data Structure

## The data structure includes

list data structure

set data structure

tuple data structure

dictionary data structure

In [24]:
# List Data structure

 # sign of a list []

class_name = [ "titi", "jerry", "abayomi", "sam", "necky", "laide", "seyi", "chichi"]

class_name

['titi', 'jerry', 'abayomi', 'sam', 'necky', 'laide', 'seyi', 'chichi']

In [35]:
class_name = [0,[ "titi",20, "jerry",12, "abayomi", 18, "sam",20, "necky", 14, "laide", 13, "seyi",60,  "chichi", 80]]

In [36]:
class_name.append("tunde")
class_name

[0,
 ['titi',
  20,
  'jerry',
  12,
  'abayomi',
  18,
  'sam',
  20,
  'necky',
  14,
  'laide',
  13,
  'seyi',
  60,
  'chichi',
  80],
 'tunde']

In [53]:
# tuple data structure

#sign for a tuple structure is ()

courses = ("python", "math", "english", "arabic", "arabic", "english")
courses

('python', 'math', 'english', 'arabic', 'arabic', 'english')

In [41]:
courses.append("crk")

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
new_courses = list(courses)

In [49]:
new_courses.append("crk")
new_courses

['python', 'math', 'english', 'arabic', 'crk']

In [51]:
## SET data structure
# sign is {}
x = {"chichi","chichi", 3, 3, "titi", "jerry", 4, 5 , 5}

In [52]:
x

{3, 4, 5, 'chichi', 'jerry', 'titi'}

In [54]:
newest_courses = set(courses)

In [55]:
newest_courses

{'arabic', 'english', 'math', 'python'}

In [ ]:
# Create a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Access a value by key
print(my_dict['a'])

# Add or update a key-value pair
my_dict['d'] = 4
print(my_dict)

# Remove a key-value pair
removed_value = my_dict.pop('b')
print("Removed value:", removed_value)
print(my_dict)

# Get: Access a value safely (returns None if key is not found)
value = my_dict.get('e', 'Not found')
print("Value for key 'e':", value)

# Keys, values, and items
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

In [61]:
# dictionary data structure
# sign for dictionary is {}

class_names =  {"name":"titi",
                "age":20, 
                "name2":"jerry",
                "age2":12, 
               "name3":"abayomi", 
               "age3":18, 
               "name4":"sam",
               "age4":20, 
               "name5":"necky", 
               "age5":14, }

In [66]:
class_names.items()

TypeError: list indices must be integers or slices, not str

In [67]:
55 == 55

True

In [69]:
3 != 4

False

In [70]:
h = "i love sql"

In [71]:
h

'i love sql'

In [ ]:
t = 1+ 1